.my-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.my-subgrid {
  border: none;
}

.my-subgrid img {
  height: 150px !important;
  width: 150px !important;
  border: 1px solid purple;
  border-radius: 26% 26% 26% 26% / 40% 40% 40% 40% ;
}

.alert-button {
  width: max-content;
  color: white !important;
  background-color: rgba(255, 0, 0, 0.8);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 16px 12px -12px rgb(255, 99, 125);
  -moz-box-shadow: 0 16px 12px -12px rgb(255, 99, 125);
  box-shadow: 0 16px 12px -12px rgb(255, 99, 125);
}
.alert-button:hover {
  background-color: rgb(255, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}



/* For video-class-students.html */
.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
  background-color: rgb(230, 230, 230);
  padding: 5px;
}
.float-left {
  display: flex;
  flex-flow: row nowrap;
  /* align-items: center; */
  justify-content: flex-start;
  width: 50%;
  height: 100%;
}
.float-left div {
  height: 100%;
  padding: 0 5px;
  line-height: 60px;
  /* align-self: center; */
  /* justify-self: center; */
  /* border: 1px solid red; */
}
.float-left div:last-child {
  padding-right: 15px;
  border-right: 2px solid grey;
}

.float-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  font-size: smaller;
}

.float-right-item1 {
  display: flex;
  /* margin: 0 10px; */
  padding: 0 15px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
.float-right-item2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
  padding: 0 7px;
}

.video-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.video-bar {
  width: 60%;
  height: 100%;
}
.video-bar video {
  height: 100%;
  width: 100%;
}
.list-of-attendees {
  width: 40%;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .video-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
  .video-bar {
    width: 100%;
    height: 100%;
  }
  .video-bar video {
    height: 100%;
    width: 100%;
  }
  .list-of-attendees {
    width: 100%;
    padding: 15px 10px;
  }
}



