* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
}

/* ----- Landing Page Section One ----- */
#section-one h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* ---- Landing Page Section Two ----- */
.bg-teal {
  background-color: #f8f9fa;
}
#section-two {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

#section-two h4 {
  font-family: "Raleway";
  font-weight: bold;
  color: teal;
  margin: 10px 0;
}
.landing-page-three-left img {
  width: 100%;
}
/* ----- Landing Page Section Four ----- */

/* ----- Landing Page Section Five ----- */

/* ----- Landing Page Section Six ----- */

/* ----- Landing Page Section Seven ----- */
#landing-page-seven-id {
  background-color: white;
  /* border: 1px solid red; */
}

.landing-seven-container-one {
  background-color: rgba(0, 204, 204, 0.1);
}

.flex-start,
.flex-centre,
.flex-end {
  box-shadow: 0 4px 8px 0 rgba(41, 99, 75, 0.4);
  transition: 0.3s;
}
.flex-start {
  align-self: flex-start;
}
.flex-centre {
  align-self: center;
}
.flex-end {
  align-self: flex-end;
}

.flex-start:hover,
.flex-centre:hover,
.flex-end:hover {
  box-shadow: 0 8px 16px 0 rgba(4, 68, 38, 0.8);
  background-color: teal;
  color: white;
  border: none;
}
.link {
  color: goldenrod;
  text-decoration: none;
}
.link:hover {
  color: yellow;
  text-decoration: none;
}

/* ----- Landin Page Section Eight ----- */
#section-eight {
  position: relative;
}
.newsletter {
  height: fit-content;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 204, 204, 0.2);
  border-radius: 20px;
}
.newsletter p {
  padding: 4%;
  text-align: center;
}
form {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
}
form input[type="email"] {
  width: 70%;
  height: 100%;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
}
form button {
  width: 30%;
  background-color: rgba(0, 128, 128, 0.8);
  color: white;
  height: 100%;
  border: none;
  border-radius: 0 10px 10px 0;
}

form button:hover {
  background-color: teal;
}

@media (max-width: 768px) {
  .newsletter {
    height: fit-content;
    width: 80%;
  }
  .newsletter h2 {
    font-size: x-large;
  }
  form {
    height: 40px;
  }
  form input[type="email"] {
    border-radius: 6px 0 0 6px;
  }
  form button {
    border-radius: 0 6px 6px 0;
  }
}

@media (max-width: 368px) {
  .newsletter {
    height: fit-content;
    width: 100%;
    font-size: small;
    border-radius: 10px;
  }

  form {
    height: 30px;
  }
  form input[type="email"] {
    width: 60%;
  }
  form button {
    width: 40%;
  }
}

@media (max-width: 276px) {
  .newsletter {
    height: fit-content;
    width: 100%;
    font-size: x-small;
  }

  form {
    height: 30px;
  }
  form input[type="email"] {
    width: 60%;
  }
}

/* ----- Footer ----- */
footer {
  background-color: rgba(0, 204, 204, 0.1);
}

.footer-flex-item {
  padding: 0 5px;
}

.copyright {
  border-top: 1px solid teal;
}
.copyright p {
  font-weight: lighter;
  color: teal;
}

/* ----- Universal Styles ----- */
.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.font-monospace {
  font-family: monospace;
  font-size: xx-large;
}
@media (max-width: 768px) {
  .font-monospace {
    font-family: monospace;
    font-size: large;
  }
}

.coloured-word {
  color: teal !important;
}

.coloured-button {
  width: max-content;
  color: white !important;
  background-color: teal;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 8px -8px teal;
  -moz-box-shadow: 0 10px 8px -8px teal;
  box-shadow: 0 10px 8px -8px teal;
  transition: all ease-in 0.25s;
}
.coloured-button:hover {
  transform: scale(1.1);
}

.non-coloured-button {
  width: max-content;
  color: teal;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid teal;
  border-radius: 5px;
}
.non-coloured-button:hover {
  color: white;
  background-color: teal;
}
